.row
  .col-md-12
    .card
      .card-header
        Check the following types of Content Item to send back to Platform
      .card-body
        = form_tag lti_tool_deep_link_launch_launch_path(@tool, @launch) do
          - deep_link_options.each do |element_name, label_name|
            .form-row
              .form-group
                .form-check
                  = label_tag do
                    = check_box_tag 'content_items[]', element_name, class: 'form-check-input'
                    = label_name

          = submit_tag 'Launch to Platform', class: 'btn btn-secondary'

.row
  .col-md-6
    .card
      .card-header
        LTI Link
      .card-body
        %pre
          %code
            = JSON.pretty_generate(@tool.lti_item(lti_tool_launches_url(@tool)))
  .col-md-6
    .card
      .card-header
        HTML Link
      .card-body
        %pre
          %code
            = JSON.pretty_generate(@tool.link_item)

    .card
      .card-header
        HTML
      .card-body
        %pre
          %code
            = JSON.pretty_generate(@tool.html_item)

    .card
      .card-header
        File Link
      .card-body
        %pre
          %code
            = JSON.pretty_generate(@tool.image_item)

    .card
      .card-header
        File Link
      .card-body
        %pre
          %code
            = JSON.pretty_generate(@tool.file_item)
