= stylesheet_link_tag 'embed_list', media: 'all'
= javascript_include_tag 'embed_list'

:javascript
    window.ltiLaunchBaseUrl = "#{@lti_launch_url}";

#preview-modal.modal.fade{tabindex: -1, role: 'dialog'}
    .modal-dialog.modal-lg{role: 'document', style: 'width: 85%;'}
        .modal-content
            .modal-header
                %button.close{'data-dismiss': 'modal'}
                    &times;
                %h3#preview-title.modal-title
            .modal-body#iframe-container
                %iframe{src: ''}
            .modal-footer
                %button.btn.btn-default{'data-dismiss': 'modal'}
                    Close

#lti-launch-url-modal.modal.fade{tabindex: -1, role: 'dialog'}
    .modal-dialog.modal-lg{role: 'document', style: 'width: 85%;'}
        .modal-content
            .modal-header
                %button.close{'data-dismiss': 'modal'}
                    &times;
                %h3#lti-launch-title.modal-title
        
            .modal-body#lti-launch-url-modal-body
                %p.col-xs-12
                    Click the button to the right of each textbox to copy the value.
                %hr.col-xs-12
                %div.col-xs-12
                    %p
                        Copy the launch URL and parameters individually:
                    .form-group
                        %label.control-label{for: "lti-launch-base-url-input"}
                            Launch URL:
                        .col-xs-12
                            .col-xs-6
                                %input.form-control{:type => "text", :readonly => "readonly", id: "lti-launch-base-url-input"}
                            %button.clipboard-btn.btn.btn-default{"data-clipboard-target" => "#lti-launch-base-url-input", :type => "button"}
                                = image_tag("clippy.svg", :class => "clippy", :title => "Copy URL to clipboard", :width => "13")
                    .form-group
                        %label.control-label{for: "lti-launch-name-input"}
                            custom_ex_short_name:
                        .col-xs-12
                            .col-xs-6
                                %input.form-control{:type => "text", :readonly => "readonly", id: "lti-launch-name-input"}
                            %button.clipboard-btn.btn.btn-default{"data-clipboard-target" => "#lti-launch-name-input", :type => "button"}
                                = image_tag("clippy.svg", :class => "clippy", :title => "Copy name to clipboard", :width => "13")
                    .form-group
                        %label.control-label{for: "lti-launch-settings-input"}
                            custom_ex_settings:
                        .col-xs-12
                            .col-xs-6
                                %input.form-control{:type => "text", :readonly => "readonly", id: "lti-launch-settings-input"}
                            %button.clipboard-btn.btn.btn-default{"data-clipboard-target" => "#lti-launch-settings-input", :type => "button"}
                                = image_tag("clippy.svg", :class => "clippy", :title => "Copy settings to clipboard", :width => "13")
                %hr.col-xs-12
                %div.col-xs-8      
                    %p
                        or copy the launch URL with the parameters in the query string:
                    .col-xs-10
                        %input.form-control{:type => "text", :readonly => "readonly", id: "lti-launch-url-input"}
                    %button.clipboard-btn.btn.btn-default{"data-clipboard-target" => "#lti-launch-url-input", :type => "button"}
                        = image_tag("clippy.svg", :class => "clippy", :title => "Copy URL to clipboard", :width => "13")
            .modal-footer
                %button.btn.btn-default{'data-dismiss': 'modal'}
                    Close

= render :partial => 'shared/exerciseSettingsDialog'

%h1
    Embeddable Exercises/Visualizations

#instructions-link-container
    Instructions/documentation for this interface can be found 
    <a target="_blank" href="#{guide_embed_path}">here</a>.

.panel-group{id: "accordion"}
    - i = 0
    - j = 0
    - k = 0
    - @folders.each do |fname, fobj|
        - i += 1
        %a{"data-toggle": "collapse", "data-parent": "#accordion", href: "#folder_#{i}_collapse"}
            .panel.panel-default    
                .panel-heading
                    .panel-title
                        #{fobj['long_name']}
        .panel-collapse.collapse{id: "folder_#{i}_collapse"}
            .panel-body
                - ex_hash = {}
                - fobj['modules'].each do |mod_name, mod_obj|
                    - j += 1
                    .panel-group{id: "accordion_mod_#{j}"}
                        .module-title
                            %a{"data-toggle": "collapse", "data-parent": "#accordion_mod_#{j}", 
                            href: "#mod_#{j}_collapse", onclick: "moduleClicked(this)"}
                                %i.fa.fa-chevron-right #{mod_obj['name']}
                        .panel-collapse.collapse{id: "mod_#{j}_collapse"}
                            - mod_obj['inst_module_sections'].each do |section_obj|
                                - section_obj['inst_module_section_exercises'].each do |ex|
                                    - inst_exercise = ex['inst_exercise']
                                    - short_name = inst_exercise['short_name']
                                    - av_address = inst_exercise['av_address']
                                    - height = inst_exercise['height']
                                    - unless ex_hash.key?(inst_exercise['short_name']) || ['extr', 'dgm'].include?(inst_exercise['ex_type'])
                                        - ex_hash[short_name] = ex
                                        - k += 1
                                        - embed_code = InstExercise.embed_code(@host_url, short_name, av_address, height)
                                        - embed_url = InstExercise.embed_url(@host_url, short_name)
                                        %div
                                            #{inst_exercise['name']}
                                            %a{href: '#', onclick: "previewExercise(this, '#{inst_exercise['name']}', '#{embed_url}', '#{embed_code}'); event.preventDefault();"}
                                                [Preview]
                                        .col-xs-6
                                            %input.form-control{:type => "text", :value => embed_code, :readonly => "readonly", id: "embedcode_#{k}"}
                                        %button.clipboard-btn.btn.btn-default{"data-clipboard-target" => "#embedcode_#{k}", :type => "button"}
                                            = image_tag("clippy.svg", :class => "clippy", :title => "Copy embed code to clipboard", :width => "13")
                                        %input.btn.btn-default{type: 'button', value: "Generate LTI Launch Info", 
                                                            onclick: "ltiResourceSelect(#{ex.as_json.to_json})"}
                                        
