/ :javascript
/   (function() {
/       var TP = {};
/   <haml_silent>     if @tp.outcome_service?
/   </haml_silent><haml_block>      TP.outcomeService = true;
/   </haml_block><haml_silent>     else
/   </haml_silent><haml_block>      TP.outcomeService = false;
/   </haml_block>    TP.toParams = {};
/       TP.toParams.launch_params = {};
/   <haml_silent>     @tp.to_params.each do |key, value|
/   </haml_silent><haml_block>      TP.toParams.launch_params.#{key} = "#{value}";
/   </haml_block>
/       TP.ODSAParams = {};
/       TP.ODSAParams.book_folder_name = "#{params["book_folder_name"]}";
/       TP.ODSAParams.section_file_name = "#{params["section_file_name"]}";
/       TP.ODSAParams.gradeable_exercise = "#{params["gradeable_exercise"]}";
/       TP.ODSAParams.section_title = "#{params["section_title"]}";

/       window.ODSA = window.ODSA || {};
/       window.ODSA.TP = TP;
/     }());
= @section_html.html_safe


