<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h2>ODSA EXERCISE ATTEMPT</h2>
<table style="font-family: arial, sans-serif;border-collapse: collapse;width: 100%;">
  <tr>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;">hint_used</th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;">count_attempts</th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;">earned_proficiency</th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;">time_done</th>
  </tr>
  <tr style="background-color: #dddddd;">
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= hint_used ? "true" : "false" %></th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= count_attempts %></th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= earned_proficiency %></th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= time_done %></th>
  </tr>
</table>

<h2>ODSA EXERCISE PROGRESS</h2>
<table style="font-family: arial, sans-serif;border-collapse: collapse;width: 100%">
  <tr>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"> current_score </th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"> highest_score </th>-
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"> total_correct </th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"> proficient_date </th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"> first_done </th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"> last_done </th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"> correct_exercises </th>
  </tr>
  <tr style="background-color: #dddddd;">
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= current_score %></th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= highest_score %></th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= total_correct %></th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= proficient_date %></th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= first_done %></th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= last_done %></th>
    <th style="border: 1px solid #dddddd;text-align: left; padding: 8px;"><%= correct_exercises %></th>
  </tr>
</table>
<h2><%= attempts %></h2>
</body>
</html>
