.row
  .col-md-12
    .jumbotron
      %h2.display-6 LTI Tools
      %p.lead Add or manage Tool configurations.
      %p
        = link_to 'Add Tool', new_lti_tool_path, class: 'btn btn-primary'

.row
  - @tools.each do |tool|
    .col-md-3
      .card
        .card-header= tool.name
        .card-body
          %p.card-text
            %b Client Id:
            = tool.client_id
          %p.card-text
            %b Tool launch URL:
            = lti_tool_launches_url(tool)
          %p.card-text
            %b Tool Deep Link URL:
            = lti_tool_deep_link_launches_url(tool)
          %p.card-text
            %b Tool OIDC Login Initiation URL:
            = lti_tool_login_initiations_url(tool)
          %p.card-text
            %b Tool JWT Key Set URL:
            = tool_jwks_lti_tool_url(tool, format: :json)
          %p.card-text
            = link_to 'Edit', edit_lti_tool_path(tool), class: 'btn btn-outline-warning btn-sm'
            = link_to 'Delete', [:lti, tool], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'
          %hr
          %p.card-test= link_to 'View Tool', [:lti, tool], class: 'btn btn-info btn-sm'
          %p.card-test= link_to 'View Tool Launches', lti_tool_launches_path(tool), class: 'btn btn-info btn-sm'
