%p
  %b Name:
  = @tool.name
%p
  %b Client:
  = @tool.client_id
%p
  %b Private Key:
  = @tool.private_key
%p
  %b Deployment ID:
  = @tool.deployment_id
%p
  %b Keyset URL:
  = @tool.keyset_url
%p
  %b OAuth2 URL:
  = @tool.oauth2_url
%p
  %b Platform OIDC Auth URL
  = @tool.platform_oidc_auth_url

= link_to 'Edit', edit_lti_tool_path(@tool)
|
= link_to 'Back', lti_tools_path
