.authform
  %h3
    Editing User: #{@user.display_name}
  = form_for(@user, :url => user_path(@user), :html => { :method => :put, :role => 'form'}) do |f|
    .form-group
      = f.label :first_name
      = f.text_field :first_name, :autofocus => true, class: 'form-control'
      = f.label :last_name
      = f.text_field :last_name, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    %fieldset
      %p Leave these fields blank if you don't want to change your password.
      .form-group
        = f.label :password
        = f.password_field :password, :autocomplete => 'off', class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
    %fieldset
      %p You must enter your current password to make changes.
      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: 'form-control'
    %fieldset
      .form-group
        = f.label "Avatar URL"
        = f.text_field :avatar, :autofocus => true, class: 'form-control'
      %p
        If you do not specify an image, your image will be automatically
        loaded from Facebook, if you have logged in through that service,
        or from
        = succeed ',' do
          = link_to 'http://gravatar.com', 'http://gravatar.com'
        if you have set up an image there.  Otherwise, a unique
        = link_to 'MonsterID', 'http://www.splitbrain.org/projects/monsterid'
        image will be used for you.
    = f.submit 'Update', :class => 'button right'
    = button_link 'Back', user_path(@user)