%p#notice= notice

= image_tag @user.avatar_url

%p
  %strong First name:
  = @user.first_name

%p
  %strong Last name:
  = @user.last_name

%p
  %strong Timezone:
  = @user.time_zone

%p
  %strong Email:
  = link_to @user.email, 'mailto:' + @user.email

- if @user.global_role.is_instructor? or @user.global_role.is_admin?
  - consumer_key, consumer_secret = @creds.first

  .row
    %strong
      = label_tag :key, 'Consumer key:', class: 'col-xs-1'
    .col-sm-4
      %input#key.form-control{:type => "text", :value => consumer_key, :readonly => "readonly"}
    %button.clipboard-btn.btn.btn-default{"data-clipboard-target" => "#key", :type => "button"}
      = image_tag("clippy.svg", :class => "clippy", :title => "Copy Consumer Key to clipboard", :width => "13")

  %p

  .row
    %strong
      = label_tag :secret, 'Shared Secret:', class: 'col-xs-1'
    .col-sm-4
      %input#secret.form-control{:type => "text", :value => consumer_secret, :readonly => "readonly"}
    %button.clipboard-btn.btn.btn-default{"data-clipboard-target" => "#secret", :type => "button"}
      = image_tag("clippy.svg", :class => "clippy", :title => "Copy Shared Secret to clipboard", :width => "13")

%br

- if can? :update, @user
  = button_link 'Edit', edit_user_path(@user)
- if @user.global_role.is_instructor? or @user.global_role.is_admin?
  = button_link 'Update Access Token', "/admin/lms_accesses"
= button_link 'Back', root_path
