.cta
  .row
    .pitch.col-md-6.col-md-offset-3
      %p
        Build your
        %strong knowledge of Data Structures
        through visualizations and practice!
    .pitch.col-md-4.col-md-offset-8
      %p
        Number of exercises practiced till
        %strong NOW!
      .stat-count
  .row
    .pitch.col-md-4
      %p
        = succeed ',' do
          %strong Teachers
        want to use OpenDSA in your course?
      = button_link 'Create your course', home_guide_path, color: 'primary', size: 'lg'

  .row
    .pitch.col-md-4.col-md-offset-8
      %p
        Want to
        %strong try
        OpenDSA?
      = button_link 'See OpenDSA eTextbooks', home_books_path, color: 'primary', size: 'lg'
      %p{ style: 'margin-top: 10px;' }

.row.blurb
  .col-md-4
    %i.fa.fa-question-circle.fa-5x{ style: 'color: #40312a;' }
    %h2 What Is OpenDSA?
    %p
      OpenDSA is infrastructure and materials to support courses in a
      wide variety of Computer Science-related topics such as Data
      Structures and Algorithms (DSA), Formal Languages, Finite Automata,
      and Programming Languages.
    %p
      OpenDSA materials include many visualizations and interactive
      exercises. Our philosophy is that students learn
      best when they engage the material and then practice it
      until they have demonstrated their proficiency.
      OpenDSA provides a place for students
      to practice skills and develop knowledge with a
      variety of exercises including small code writing problems,
      proficiency exercises where students demonstrate knowledge of an
      algorithm by interacting with a data structure, and questions
      about knowledge.
      For more information, look
      =link_to "HERE", home_about_path

  .col-md-4
    = image_tag("heapsort.png", :class => "img-responsive", :alt => "heapsort")

  .col-md-4
    %i.fa.fa-users.fa-5x{ style: 'color: #efb04f;' }
    %h2 Have to Be a Student?
    %p
      No, you do not have to be a student in a course to use OpenDSA.
      OpenDSA provides comprehensive support for teachers who want
      to use our materials for their textbook or homeworks.
      But we also support independent learners who are just practicing
      on their own. See our
      =link_to "sample books", home_books_path
      list , where you can practice any exercises or view
      any materials that you wish.

.row.blurb
  .col-md-4
    = image_tag("huffman.png", :class => "img-responsive", :alt => "heapsort")

  .col-md-4
    %i.fa.fa-graduation-cap.fa-5x{ style: 'color: darkblue;' }
    %h2 Use in a Course
    %p
      For teachers, OpenDSA allows you to create your own custom
      eTextbooks, selecting from our comprehensive body of materials
      and exercises. Use OpenDSA as supplementary reading material, or
      use it as your primary textbook and homeworks.
      See
      =link_to "MORE INFORMATION", home_guide_path

  .col-md-4
    = image_tag("Shellsort_perf.png", :class => "img-responsive", :alt => "heapsort")

.row.blurb
  .col-md-8.col-md-offset-2
    %h2
      %i.fa.fa-thumbs-o-up
      OpenDSA is Free to Use
    %p
      OpenDSA is open-source software that is
      =link_to "free to use.", home_license_path
    %p
      You can find us on github at
      = succeed '.' do
        %a{ href: 'https://github.com/OpenDSA' }
          https://github.com/OpenDSA
    %p
      Contributions of new materials are welcome!
      For more information on contributing, see
      = succeed '.' do
        %a{ href: 'https://github.com/OpenDSA/OpenDSA/wiki' }
          https://github.com/OpenDSA/OpenDSA/wiki
    %p
      Contact us at
      %a{ href: 'mailto:opendsa@cs.vt.edu' }
        opendsa@cs.vt.edu

    %p
      The OpenDSA Project is supported by the National Science
      Foundation.
      = link_to "See more.", home_support_path
      = link_to image_tag("nsf1.gif", :alt => "NSF Logo", :width => '64'),
                "http://nsf.gov/"
