= render partial: 'layouts/breadcrumb',
  locals: {wid: nil, exid: nil, off: @course_offering}
%p#notice= notice

%p
  %strong Course:
  = link_to @course_offering.course.number_and_name, @url

%p
  %strong Term:
  = @course_offering.term.display_name

%p
  %strong Label:
  = @course_offering.label

%p
  %strong Instructor(s):
  - @course_offering.instructors.each do |instructor|
    = link_to instructor.display_name, user_path(instructor)

