<%=javascript_pack_tag 'student_exercise_attempt' %>
<!doctype HTML>
<meta charset = 'utf-8'>
<html>
<head>
  <title> Student Information </title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.7.0/js-yaml.min.js"></script>
  <script src='https://code.highcharts.com/highcharts.js' type='text/javascript'></script>
  <script src='https://code.highcharts.com/highcharts-more.js' type='text/javascript'></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
      #container {
          display: block;
          margin: auto;
          width: 95%;
          height: 85%;
          position: absolute;
      }
  </style>
</head>
<body>

<div id="wrapper" style="text-align: center">
  <H2>Student Exercise Attempts</H2>

</div>


<div id ="attempts"></div>
<script>
    function myFunction(){
        var x = document.getElementById("question_id");
        alert(x[0].text);
    }

    var exercise = <%= raw @questions.to_json %>;
    var attempts = <%= raw @attempts_count.values.to_json %>;

    var data = [{
        x: exercise,
        y: attempts,
        type: 'bar',
        title: 'Attempts',
    }];
    var layout1 = {
        title: 'Attempt'
    };
    Plotly.newPlot('attempts', data, layout1);
</script>

<div id ="hints"></div>
<script>
    var exercises = <%= raw @hints_questions.to_json %>;
    var hints = <%= raw @hints_division.to_json %>;

    var data2 = [{
        x: exercises,
        y: hints,
        type: 'bar'
    }];
    var layout2 = {
        title: 'Hints'
    }
    Plotly.newPlot('hints', data2, layout2);
</script>

<div id ="incorrect"></div>
<script>
    var exercises = <%= raw @incorrects_questions.to_json %>;
    var incorrects = <%= raw @incorrects_division.to_json %>;

    var data3 = [{
        x: exercises,
        y: incorrects,
        type: 'bar'
    }];
    var layout3 = {
        title: 'Incorrect Attempts'
    }
    Plotly.newPlot('incorrect', data3, layout3);
</script>


</body>

</html>