= render 'layouts/breadcrumb'

%h1
  = @term.display_name
  Courses from
  = @organization.name if @organization

%p
  Switch to a different term:
  = select_tag 'term_id',
    options_for_select(Term.all.collect{ |t| [t.display_name, t.id] },
    @term.id),
    class: 'form-control inline'

%ul
  - if @organization && @organization.courses.any?
    - @organization.courses.each do |course|
      %li
        = link_to course.number_and_name,
          organization_course_path(@organization, course, @term)
        %table.table.table-striped{ style: 'width: auto' }
          %thead
            %th Term
            %th Section
            - if user_signed_in? && current_user.global_role.is_admin?
              %th Canvas course
            %th OpenDSA Book
            %th Instructor(s)
            / %th Enroll
          %tbody
            - course.course_offerings.each do |o|
              - lms_course_code = o.lms_course_code
              - if o.lms_instance
                - lms_url = o.lms_instance.url
              - else
                - lms_url = ''
              - lms_course_num = o.lms_course_num
              - course_offering_url = lms_url.to_s + "/courses/" + lms_course_num.to_s
              %tr
                %td= o.term.display_name
                %td= link_to o.display_name,
                  organization_course_path(o.course.organization,
                  o.course, o.term)
                - if user_signed_in? && current_user.global_role.is_admin?
                  %td= link_to lms_course_code, course_offering_url, :target => "_blank"
                - if o.odsa_books.many?
                  %td
                    %table.table.table-striped
                      - o.odsa_books.each do |bk|
                        %tr
                          %td= bk.title
                - else
                  %td!= o.odsa_books.map{ |i| i.title }.to_sentence

                %td!= o.instructors.map{ |i| link_to i.display_name,
                  user_path(i) }.to_sentence
                / %td= render partial: "course_offerings/self_enrollment",
                /   locals: { off: o }
  - else
    %li
      This organization does not have any courses in
      = @term.display_name
      at this time.