%tr
  %td= inst_book.title
  %td= inst_book.book_code
  %td
    = form_tag '/configurations/book/create_redirect' do
      = submit_tag "Configure Book"
  %td
    = form_tag '/inst_books/'+ inst_book.id.to_s + '/compile', data: {type: "script"}, format: 'js' do
      = submit_tag "Compile Book"



