%tr
  %td= inst_book.title
  %td
    = form_tag '/configurations/book/create_redirect' do
      = submit_tag "Configure Book"
  %td
    = form_tag '/inst_books/'+ inst_book.id.to_s + '/compile', data: {type: "script"}, format: 'js', remote: true, onsubmit: 'compile_commit.disabled = true; compile_commit.value = "Please wait..."; return true;' do
      = submit_tag "Compile Book", name: 'compile_commit'