- lms_course_code = inst_book.course_offering.lms_course_code
- lms_url = inst_book.course_offering.lms_instance.url
- lms_course_num = inst_book.course_offering.lms_course_num
- course_offering_url = lms_url.to_s + "/courses/" + lms_course_num.to_s
%tr
  %td= inst_book.title
  %td= link_to lms_course_code, course_offering_url, :target => "_blank"
  / %td
  /   = form_tag '/inst_books/configure/'+ inst_book.id.to_s, :method => :get, :target => "_blank"  do
  /     = submit_tag "Configure Book", class: "btn btn-primary", :target => "_blank"
  /     .col-xs-1
  /       %i.fa.fa-info-circle.action{ data: { toggle: 'modal', target: '#configure-book-modal' } }
  /     #configure-book-modal.modal.fade{role: 'dialog', tabindex: '-1' }
  /       .modal-dialog.modal-md{ style: 'overflow-y: scroll; max-height:85% margin-top: 50px; margin-bottom:50px;' }
  /         .modal-content
  /           .modal-header
  /             %p.lead Book Configuration
  /           .modal-body
  /             %p
  /               This view will allow instructors to configure OpenDSA book before they generate the canvas course. Instructors can add/delete OpenDSA chapters/modules, reorder chapters/modules if needed,
  /               and adjust exercises points and due dates in addition to general book configuration like programming
  /               language used for the book code examples.
  /               Once the course is generated, Instructors can only adjust exercises points and due dates.
  /             %p
  /               Note: In order for the book configuration changes to take effect, Canvas course has to be re-generated using "Generate Canvas Course" button.
  %td
    - if inst_book.last_compiled == nil
      - btn_label = "Generate Canvas Course"
      - confirm_msg = "This process will use your book configuration to generate assignments and modules in your Canvas course. Do you want to continue?"
    - else
      - btn_label = "Re-generate Canvas Course"
      - confirm_msg = 'Re-generating the Canvas course will override due dates and number of points for all the assignments. If you have updated the book configuration for your course offering to include additional chapters and modules, these will be added to your Canvas course. Do you want to continue?'

    - form_name = 'generate_course_' + inst_book.id.to_s
    = form_tag '/inst_books/'+ inst_book.id.to_s + '?operation=generate_course', data: {type: "script"}, format: 'js', remote: true, onsubmit: "#{form_name}.disabled = true; #{form_name}.value = 'Please wait...'; Window.ODSA = Window.ODSA || {}; Window.ODSA.inst_book_id = #{inst_book.id}; Window.ODSA.action_type = 'generate_course'; return true;" do
      = submit_tag btn_label, name: form_name, class: "btn btn-primary", title: btn_label + ' confirmation.', data: {confirm: confirm_msg}
      .col-xs-1
        %i.fa.fa-info-circle.action{ data: { toggle: 'modal', target: '#generate-course-modal' } }
      #generate-course-modal.modal.fade{role: 'dialog', tabindex: '-1' }
        .modal-dialog.modal-md{ style: 'overflow-y: scroll; max-height:85% margin-top: 50px; margin-bottom:50px;' }
          .modal-content
            .modal-header
              %p.lead Generate Canvas Course
            .modal-body
              %p
                When you click this button the OpenDSA book will be used to genrate assignments and modules in your Canvas course.
                If this is the first time the course is being generated, all OpenDSA chapters and modules
                will be created in the course. If you are re-generating the Canvas course, this process
                will update the assignments points and due dates as well as create new Canvas assignments
                and modules for any new chapters and modules added to your course offering's OpenDSA book configuration.
  - if inst_book.last_compiled != nil and (current_user.global_role.is_admin? || current_user.id == inst_book.user_id)
    %td
      - form_name = 'compile_book_' + inst_book.id.to_s
      = form_tag '/inst_books/'+ inst_book.id.to_s + '?operation=compile_book', data: {type: "script"}, format: 'js', remote: true, onsubmit: "#{form_name}.disabled = true; #{form_name}.value = 'Please wait...'; Window.ODSA = Window.ODSA || {}; Window.ODSA.inst_book_id = #{inst_book.id}; Window.ODSA.action_type = 'compile_book'; return true;" do
        = submit_tag "Compile Book", name: form_name, class: "btn btn-primary", title: 'Compile book confirmation.', data: {confirm: "The book compilation process will regenerate the book pages on the OpenDSA server. Assignments due dates and points in Canvas course won't be affected by this action. Do you want to continue?"}
