- lms_course_code = inst_book.course_offering.lms_course_code
- lms_url = inst_book.course_offering.lms_instance.url
- lms_course_num = inst_book.course_offering.lms_course_num
- course_offering_url = lms_url.to_s + "/courses/" + lms_course_num.to_s
%tr
  %td= inst_book.title
  %td= link_to lms_course_code, course_offering_url, :target => "_blank"
  %td
    - form_name = 'generate_course_' + inst_book.id.to_s
    = form_tag '/inst_books/'+ inst_book.id.to_s + '?operation=generate_course', data: {type: "script"}, format: 'js', remote: true, onsubmit: "#{form_name}.disabled = true; #{form_name}.value = 'Please wait...'; Window.ODSA = Window.ODSA || {}; Window.ODSA.inst_book_id = #{inst_book.id}; Window.ODSA.action_type = 'generate_course'; return true;" do
      = submit_tag "Generate LMS Course", name: form_name
  %td
    = form_tag '/configurations/book/create_redirect' do
      = submit_tag "Configure Book"
  %td
    - form_name = 'compile_book_' + inst_book.id.to_s
    = form_tag '/inst_books/'+ inst_book.id.to_s + '?operation=compile_book', data: {type: "script"}, format: 'js', remote: true, onsubmit: "#{form_name}.disabled = true; #{form_name}.value = 'Please wait...'; Window.ODSA = Window.ODSA || {}; Window.ODSA.inst_book_id = #{inst_book.id}; Window.ODSA.action_type = 'compile_book'; return true;" do
      = submit_tag "Compile Book", name: form_name