:javascript
  window.jsonFile = #{@inst_book_json.html_safe}

%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active= 'Book Configuration'


.row
  .col-xs-9.alert-msg#alerts{style: 'display: none;'}


#odsa_content
  / #instructions
  /   %p Press the "Save Book" button to upload your new book configuration.
  #dialog{:title => "Load Book"}
  .form-horizontal
    .form-group
      .col-xs-2
        = form_tag "/inst_books/update" do
          = submit_tag 'Save Book', name: 'Save Book', class: "btn btn-primary", title: 'Save Book Confirmation.', data: {confirm: 'Do you want to continue?'}
      .col-xs-2
        %button#odsa-reset-co.btn.btn-primary Undo Changes

  %span#save_message
  %a#downloadLink{:download => "Test.json"} Download
  #chapterDue.modal.fade
    .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"} &times;
        %h2.modal-title Chapter Due Date
      .modal-body
        Soft Deadline:
        %input#chapterSoft.datetimepicker
        %br
        Hard Deadline:
        %input#chapterHard.datetimepicker
      .modal-footer
        %button#chapterSubmit.btn.btn-default{"data-dismiss" => "modal"} Submit
  #header
    #title
    #heading
    #options
    #chapters