:javascript
  window.jsonFile = #{@inst_book_json.html_safe}

%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active= 'Book Configuration'

.row
  .col-xs-9.alert-msg#alerts{style: 'display: none;'}

.form-horizontal
  = form_tag "/inst_books/update" do
    .form-group
      .col-xs-4
        = submit_tag 'Save Book', name: 'Save Book', id: "odsa-submit-co", class: "btn btn-primary", title: 'Save Book Confirmation.', data: {confirm: 'Do you want to continue?'}
        = submit_tag 'Undo Changes', name: 'Undo Changes', id: "odsa-reset-co", class: "btn btn-primary", title: 'Undo Book Confirmation.', data: {confirm: 'Do you want to continue?'}

#odsa_content
  #dialog{:title => "Load Book"}

  / %button#odsa-save Download
  %span#save_message
  %a#downloadLink{:download => "Test.json"} Download
  #chapterDue.modal.fade
    .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"} &times;
        %h2.modal-title Chapter Due Date
      .modal-body
        / Soft Deadline:
        Due Date:
        %input#chapterSoft.datetimepicker.timemodal
        / %br
        / Hard Deadline:
        / %input#chapterHard.datetimepicker.timemodal
      .modal-footer
        %button#chapterSubmit.btn.btn-default{"data-dismiss" => "modal"} Submit
  #header
    #title
    #heading
    #options
    #chapters
