<div class="row" style="margin:50px">
  <span class="span12">
    <div class="text-center">
      <h1>Add an OpenDSA eTextbook to a Canvas Course</h1>
    </div>
    <br>
    <p>
      OpenDSA is an eTextbook project developed at Virginia Tech. OpenDSA
      materials include many visualizations and interactive exercises that
      support courses in a wide variety of Computer Science-related topics such
      as Data Structures and Algorithms (DSA), Formal and Programming Languages.
    </p>
    <p>
      OpenDSA has hundreds of visualizations and exercises.
      Most algorithms and data structures are illustrated by interactive
      algorithm visualizations. Students could enter their own test cases to see
      how the algorithm or data structure works on that input, and they can
      control the pacing of the visualization.
    </p>
    <p>
      A course instructor who is using the Canvas LMS can add OpenDSA materials
      directly into their Canvas courses appearing as Modules and Assignments
      in Canvas. Below are the detailed instructions on how to create and add
      an existing OpenDSA book to your Canvas course.
    </p>
    <p>
      See <%= link_to "this link", guide_book_configuration_path
      %> for information on how to configure a collection of OpenDSA modules.
    </p>
    <p>
      To add one or more OpenDSA exercises in your Canvas course, follow the
      following steps:
    </p>
    <p>
      <strong>Step 1:</strong> Go to
      <a href="http://opendsa.org" target="_blank"> OpenDSA.org </a>
      and create an account.
    </p>
    <p>
      <strong>Step 2:</strong> Send an email to
      <a href="mailto:opendsa@cs.vt.edu"> opendsa@cs.vt.edu </a>
      and ask for instructor access.
    </p>
    <p>
      <strong>Step 3:</strong> Once you are provided with the instructor
      access, go to the <em>"Course"</em> menu item at the top left corner
      of the page and click on <em>"Create new course"</em>.
      <div class="text-center">
        <%= image_tag "guides/BookInstance1.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 4:</strong>
      You should be redirected to a page where you can create a new course.
      Select your organization from the <em>Organization</em> dropdown.
      Organization will be the name of your university.
      <div class="text-center">
        <%= image_tag "guides/BookInstance2.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 5:</strong>
      If your university is not present under the <em>Organization</em>
      dropdown, click on a button to the right of the <em>Organization</em>
      dropdown.
      <div class="text-center">
        <%= image_tag "guides/BookInstance2-1.png", style:'width:60%' %>
      </div>
      <br>
      You will be redirected to the page shown below. Click on the <em>New
      Organization</em> button to the top right of the page.
      <div class="text-center">
        <%= image_tag "guides/BookInstance3.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 6:</strong>
      You will be taken to a new page where you can add new Organization. Enter
      the name and abbreviation of your organization and click on the <em>Create
      Organization</em> button.
      <div class="text-center">
        <%= image_tag "guides/BookInstance4.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 7:</strong>
      Go back to the <em>New Course</em> page and refresh it. Select the
      organization you created from the <em>Organization</em> dropdown. After
      that, select your course from the <em>Course</em> dropdown.
      <div class="text-center">
        <%= image_tag "guides/BookInstance5.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 8:</strong>
      If your course is not present under the <em>Course</em> dropdown, click
      on a button to the right of the <em>Course</em> dropdown.
      <div class="text-center">
        <%= image_tag "guides/BookInstance5-1.png", style:'width:60%' %>
      </div>
      <br>
      You will be redirected to the page shown below. Click on the <em>New
      Course</em> button to the top right of the page.
      <div class="text-center">
        <%= image_tag "guides/BookInstance6.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 9:</strong>
      You will be taken to a new page where you can add new Course. Select your
      organization, enter the number and name of your course and click on the
      <em>Create Course</em> button.
      <div class="text-center">
        <%= image_tag "guides/BookInstance7.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 10:</strong>
      Go back to the <em>New Course</em> page and refresh it. Select your
      organization and course.
      <div class="text-center">
        <%= image_tag "guides/BookInstance8.png", style:'width:60%' %>
      </div>
      <br>
      After that, select your term from the <em>Term</em> dropdown.
      <div class="text-center">
        <%= image_tag "guides/BookInstance9.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 11:</strong>
      If your term is not present under the <em>Term</em> dropdown, click
      on a button to the right of the <em>Term</em> dropdown.
      <div class="text-center">
        <%= image_tag "guides/BookInstance10.png", style:'width:60%' %>
      </div>
      <br>
      You will be redirected to the page shown below. Click on the <em>New
      Term</em> button to the top right of the page.
      <div class="text-center">
        <%= image_tag "guides/BookInstance11.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 12:</strong>
      You will be taken to a new page where you can add new Term. Select the
      season, year, start and end date and click on the <em>Create Term</em>
      button.
      <div class="text-center">
        <%= image_tag "guides/BookInstance12.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 13:</strong>
      Go back to the <em>New Course</em> page and refresh it. Select your
      organization, course, and Term. After that, enter the label you want to
      assign to this course.
      <div class="text-center">
        <%= image_tag "guides/BookInstance13.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 14:</strong>
      Select the <em>Book Instance</em> you want to use for this course.
      Modules collected together form an OpenDSA Book Instance.
      <div class="text-center">
        <%= image_tag "guides/BookInstance14.png", style:'width:60%' %>
      </div>
      <br>
    </p>
    <p>
      <strong>Step 15:</strong>
      If you want to configure a new OpenDSA Book, follow <%= link_to "this
      link", guide_book_configuration_path %>.
    </p>
    <p>
      <strong>Step 16:</strong>
      Select the Book you want from the <em>Book Instance</em> dropdown
      to use for this course.
      <div class="text-center">
        <%= image_tag "guides/BookInstance14.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 17:</strong>
      Select your Canvas URL from the <em>Canvas Instance</em> dropdown.
      <div class="text-center">
        <%= image_tag "guides/BookInstance15.png", style:'width:60%' %>
      </div>
      <br>
      If your Canvas URL is not present in the dropdown, send an email with the
      URL of your Canvas instance to <a href="mailto:opendsa@cs.vt.edu">
        opendsa@cs.vt.edu </a> and ask to add your Canvas URL.
    </p>
    <p>
      <strong>Step 18:</strong>
      You need to have the access token for the selected Canvas instance. To
      get your access token, go to your Canvas, click on <em>Account</em> and
      then click on <em>Settings</em>.
      <div class="text-center">
        <%= image_tag "guides/BookInstance16.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 19:</strong>
      In the Canvas settings, click on the <em>+ New Access Token</em> button
      under <em>Approved Integrations</em>.
      <div class="text-center">
        <%= image_tag "guides/BookInstance17.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 20:</strong>
      Enter the <em>Purpose</em> and <em>Expiry Date</em> for your new access
      token and click <em>Generate Token</em>.
      <div class="text-center">
        <%= image_tag "guides/BookInstance18.png", style:'width:30%' %>
      </div>
    </p>
    <p>
      <strong>Step 21:</strong>
      Copy your token.
      <div class="text-center">
        <%= image_tag "guides/BookInstance19.png", style:'width:40%' %>
      </div>
    </p>
    <p>
      <strong>Step 22:</strong>
      Go back to Create Course page of OpenDSA and click on a button to the
      right of the <em>Canvas access token</em>.
      <div class="text-center">
        <%= image_tag "guides/BookInstance20.png", style:'width:60%' %>
      </div>
      <br>
      You will be redirected to the page shown below. Click on the <em>New
      LMS Access</em> button to the top right of the page.
      <div class="text-center">
        <%= image_tag "guides/BookInstance21.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 23:</strong>
      You will be taken to a new page where you can add new Access Token. Select
      your Canvas instance and paste the access token you copied in Step 21.
      <div class="text-center">
        <%= image_tag "guides/BookInstance22.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 24:</strong>
      For a final step in the course creation process, go to Canvas, copy
      your course ID and paste it into <em>Canvas course Id</em> field. You can
      get your Canvas course ID from the URL as shown below.
      <div class="text-center">
        <%= image_tag "guides/BookInstance23.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 25:</strong>
      Once you have filled all the information, click on the <em>Submit</em>
      button.
      <div class="text-center">
        <%= image_tag "guides/BookInstance24.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 26:</strong>
      You will be taken to a new page that will look similar to the one shown
      in the image below. Click on the <em>Generate Canvas Course</em> button
      and this process will use your book configuration to generate assignments
      and modules in your Canvas course.
      <div class="text-center">
        <%= image_tag "guides/BookInstance25.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 27:</strong>
      You will see a pop-up dialog. Click on the <em>Confirm</em> button.
      <div class="text-center">
        <%= image_tag "guides/BookInstance26.png", style:'width:35%' %>
      </div>
      <br>
      After that, wait for a progress bar to finish and reach 100%.
      <div class="text-center">
        <%= image_tag "guides/BookInstance27.png", style:'width:60%' %>
      </div>
    </p>
    <p>
      <strong>Step 28:</strong>
      You should now see the assignments and modules in your Canvas course.
      <div class="text-center">
        <%= image_tag "guides/BookInstance28.png", style:'width:60%' %>
      </div>
    </p>
  </span>
</div>
