.row
  .col-md-12
    .card
      .card-header
        OpenDSA-LTI contents
      .card-body
        %blockquote.blockquote.mb-0
          %p{style: 'color: green;'}
            %i.fa.fa-check-square.fa-lg
            Valid Launch Status
          %p
            Launch was successfuly received by Reference Tool.
          %p{style: 'color: #dc3545;'}
            %i.fa.fa-exclamation-triangle.fa-sm
            0 Errors below.
          %p{style: 'color: #ffc107;'}
            %i.fa.fa-exclamation-circle.fa-sm
            0 Warnings below.
      .card-footer.text-muted
        JWT:
        %pre
          = @id_token
%br
.row
  .col-md-4
    .card.border-success.mb-3{:style => "max-width: 18rem;"}
      .card-header JWT Decode + Authorization
      .card-body
        %h5.card-title Success
        %p.card-text JWT was decoded correctly with the kid (Key ID) and public key provided by the Platform.

    .card.border-danger.mb-3{:style => "max-width: 18rem;"}
      .card-header Missing Required Attributes
      .card-body
        %h5.card-title Following attributes are required but were not sent:
        %p.card-text
          %ul
            %li No Missing Attributes

    .card.border-warning.mb-3{:style => "max-width: 18rem;"}
      .card-header Warnings
      .card-body
        %h5.card-title Following issues should be fixed:
        %p.card-text
          %ul
            %li No Issues to Fix.

    .card.bg-light.mb-3{style: 'max-width: 18rem;'}
      .card-header Assignment and Grade Service
      .card-body
        - if assignment_and_grades_launch?(@decoded_jwt) && @access_token
          %p.card-text This will post a score from this Tool back to the Platform. Response will be evaluated and output will appear below.
          %button.btn.btn-info#send_score{type: 'button'} Submit Score to Platform
        - else
          %p.card-text Missing OAuth2 URL on Tool (required for acccess token) or this launch did not include a Assignments and Grade Service claim.

    #grade_service_response.mb-3{style: 'max-width: 18rem;'}

    .card.bg-light.mb-3{style: 'max-width: 18rem;'}
      .card-header Names and Role Provisioning Service
      .card-body
        - if names_and_roles_launch?(@decoded_jwt) && @access_token
          %p.card-text This will post a request from this Tool back to the Platform for Names and Roles. Response will be evaluated and output will appear below.
          %button.btn.btn-info#request_names_and_roles{type: 'button'} Request Names and Roles
        - else
          %p.card-text Missing OAuth2 URL on Tool (required for acccess token) or this launch did not include a Names and Roles Provisioning Service claim.

    #names_and_roles_response.mb-3{style: 'max-width: 18rem;'}

  .col-md-8
    - if @access_token
      .card
        .card-header
          Pre-fetched OAuth2 Access Token:
        .card-body
          %pre
            %code
              = JSON.pretty_generate(@access_token)

    .card
      .card-header
        JWT Header
      .card-body
        %pre
          %code
            = JSON.pretty_generate(Jwt::Header.new(@id_token).call)

    .card
      .card-header
        Security Details
      .card-body
        %pre
          %code
            = JSON.pretty_generate(security_code_block(@decoded_jwt))

    .card
      .card-header
        Data not in Claims
      .card-body
        %pre
          %code
            = JSON.pretty_generate(non_claim_security_code_block(@decoded_jwt))

    .card
      .card-header
        Claims
      .card-body
        %pre
          %code
            = JSON.pretty_generate(claims_code_block(@decoded_jwt))