.row
  .col-md-12
    %nav{'aria-label' => 'breadcrumb'}
      %ol.breadcrumb
        %li.breadcrumb-item
          = link_to 'Tools', lti_tools_path
        %li.breadcrumb-item.active{'aria-current' => 'page'} LTI Launches

.row
  .col-md-12
    .jumbotron
      %h2.display-6
        LTI Launches for
        = @tool.name
      %p.lead These are LTI launches that have been received by the tool.

.row
  - @launches.each do |launch|
    .col-md-3
      .card
        .card-header Launch
        .card-body
          %p.card-text
            %b User:
            = launch.decoded_jwt['given_name']
            = launch.decoded_jwt['family_name']
          - if launch.decoded_jwt['http://imsglobal.org/lti/context']
            %p.card-text
              %b Course:
              = launch.decoded_jwt['http://imsglobal.org/lti/context']['title']
              = launch.decoded_jwt['http://imsglobal.org/lti/context']['label']
          - if launch.decoded_jwt['http://imsglobal.org/lti/resource_link']
            %p.card-text
              %b Resource Link:
              = launch.decoded_jwt['http://imsglobal.org/lti/resource_link']['title']
          %p.card-text
            = link_to 'Delete', [:lti, @tool, launch], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'
          %hr
          = link_to 'View Launch', [:lti, @tool, launch], class: 'btn btn-info btn-sm'