!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "OpenDSA"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "OpenDSA"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = controller_stylesheet_link_tag
    = controller_javascript_include_tag
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield