<html lang ="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title><%= @ex.name %></title>
  <link href="/OpenDSA/RST/_themes/haiku/static/haiku.css_t" rel="stylesheet" type="text/css"/>
  <link href="/OpenDSA/lib/normalize.css" rel="stylesheet" type="text/css"/>
  <link href="/OpenDSA/JSAV/css/JSAV.css" rel="stylesheet" type="text/css"/>
  <link href="/OpenDSA/lib/odsaMOD-min.css" rel="stylesheet" type="text/css"/>
  <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link href="/OpenDSA/lib/odsaStyle-min.css" rel="stylesheet" type="text/css"/>
  <script>
  (function() {
    var TP = {};
  <% if @outcome_service %>
    TP.outcomeService = true;
    TP.exerciseName = "<%= @ex.short_name %>";
  <% else %>
    TP.outcomeService = false;
  <% end %>

    TP.toParams = {};
    TP.toParams.launch_params = {};
  <% params.each do |key, value| %>
    TP.toParams.launch_params.<%= key %> = "<%= value %>";
  <% end%>
    TP.userEmail = "<%= @user.email %>";
    TP.instExerciseId = <%= @ex.id %>
    TP.sectionTitle = "<%= @ex.short_name %>"
    TP.instCourseOfferingExerciseId = <%= @course_off_ex.id %>

    window.ODSA = window.ODSA || {};
    window.ODSA.TP = TP;

    var settings = {};
    settings.BOOK_LANG = "en";
    settings.REQ_FULL_SS = true;
    settings.LOCAL_MODE = true;
    window.ODSA.SETTINGS = settings;
  }());
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": {
        scale: "80"
      }
    });
  </script>
</head>
<body>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/OpenDSA/JSAV/lib/jquery.transit.js" type="text/javascript"></script>
  <script src="/OpenDSA/JSAV/lib/raphael.js" type="text/javascript"></script>
  <script src="/OpenDSA/JSAV/build/JSAV-min.js" type="text/javascript"></script>
  <script src="/OpenDSA/lib/odsaUtils.js" type="text/javascript"></script>
  <script src="/OpenDSA/lib/odsaMOD.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" type="text/javascript"></script>
  <script src="/OpenDSA/lib/dataStructures.js" type="text/javascript"></script>
  <script src="/OpenDSA/lib/conceptMap.js" type="text/javascript"></script>
  <script>ODSA.SETTINGS.DISP_MOD_COMP = true;ODSA.SETTINGS.MODULE_NAME = "<%= @ex.name %>"; ODSA.SETTINGS.BUILD_CMAP = false;JSAV_OPTIONS['lang']='en';JSAV_EXERCISE_OPTIONS['code']='java';</script>
  <div class="content">
    <%= yield %>
  </div>
  <div class="footer">
    <p>
      <span class="email_div" style="display:inline;">
        <a class="contact" href="mailto:" id="contact_us" rel="nofollow" style="float:left;color:blue;">Contact Us |</a>
        <a class="bugreport-link" href="#" id="bugreport-link" style="float:left;color:blue;">| Report a bug</a>
      </span>
    </p>
    © Copyright 2017 by OpenDSA Project Contributors and distributed under an MIT license.
  </div>
  <div class="bugreport-popup " id="bugreport-box">
    <a class="close" href="#"><img alt="Close Window" class="btn_close" src="/OpenDSA/Books/vt/cs3114/spring-2018/Test/html/_static/Images/close_pop.png" title="Close Window"/></a>
    <form action="https://#" class="report" method="post">
      <fieldset class="textbox">
        <div class="error" id="bug_error"></div>
        <label>
          <span>Summary*:</span>
          <input id="b_title" placeholder="Summary" type="text"/>
        </label>
      <label class="os">
        <span>Operating system*:</span>
        <select id="b_os">
          <option value="windows">Windows</option>
          <option value="macos">Mac OS</option>
          <option value="linux">Linux</option>
          <option value="ios">iOS</option>
          <option value="android">Android</option>
          <option value="other">Other</option>
        </select>
      </label>
      <label class="browser">
        <span>Browser*:</span>
        <select id="b_browser">
          <option value="chrome">Chrome</option>
          <option value="safari">Safari</option>
          <option value="internetexplorer">Internet Explorer</option>
          <option value="opera">Opera</option>
          <option value="other">Other</option>
        </select>
      </label>
      <label class="description">
        <span>Description*:</span><br>
        <textarea cols="25" id="b_description" placeholder="***BUG** Please enter: (1) a consice description of the problem. (2) steps to reproduce bug. (3) the version of your browser and operating system." rows="5"></textarea>
        </br>
      </label>
      <label class="screenshot">
        <span>Attach a screenshot (optional):</span>
        <input accept="image/*" id="b_screenshot" placeholder="Attach a screenshot (optional)" type="file">
        </input>
      </label>
      <p>
      <input id="bug-submit-button" type="submit" value="Submit →"/>
      </p>
      </fieldset>
    </form>
  </div>
</body>
</html>